APP_NAME=Solon API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+asyncpg://solon:solon@localhost:5432/solon
CORS_ORIGINS=["http://localhost:3000"]
FRONTEND_INTERNAL_API_KEY=change-me
FRONTEND_USER_AUTH_SECRET=change-me-user-auth
ADMIN_EMAILS=["marten.rozema@me.com"]


TENANT_ID="d64a17c3-2a47-4786-bea3-259aca74b204"
CLIENT_ID="fcd6a8ee-9cba-40fc-b473-443d3356cc71"
GOOGLE_CLIENT_ID="719850082607-djc2lmbu4jg179u0itd71lubdn5gj4hl.apps.googleusercontent.com"


OPENAI_PROVIDER=azure
OPENAI_MODEL=gpt-4.1-nano
AZURE_OPENAI_ENDPOINT=https://collep.openai.azure.com/
AZURE_OPENAI_API_KEY=replace-with-api-key
AZURE_OPENAI_DEPLOYMENT=gpt-4.1-nano
